[submodule "home/desktop/graphical/wms/awesome/gwdawful/modules/home/desktop/graphical/wms/awesome/gwdawful/modules/awesome-battery_widget"]
	path = home/desktop/graphical/wms/awesome/gwdawful/modules/home/desktop/graphical/wms/awesome/gwdawful/modules/awesome-battery_widget
	url = https://github.com/Aire-One/awesome-battery_widget
