name: Flake Check

on:
  pull_request:
  push:
    branches: [main]

jobs:
  flake-check:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v13
        with:
          extra_nix_config: |
            accept-flake-config = true

      - name: Cache Nix store
        uses: DeterminateSystems/magic-nix-cache-action@v7

      - name: Statix (lint)
        run: nix develop -c statix check --config ./.statix.toml .

      - name: Flake check
        run: nix flake check --show-trace
