name: Nix Lint & Format

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v13
        with:
          extra_nix_config: |
            accept-flake-config = true

      - name: Run statix (non-blocking)
        continue-on-error: true
        run: nix develop -c statix check --config ./.statix.toml .

      - name: Run nix formatter (non-blocking)
        continue-on-error: true
        run: nix develop -c nix fmt .
